.env
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.venv
venv/
.env/
db.sqlite
*.db
*.sqlite
.vscode/
.idea/
instance/
*.sqlite3
*.log
*.pid
node_modules/
dist/
build/
uploads/
*.tar
*.zip
*.egg-info/
docker-compose.override.yml


