/* frontend/input.css */

@import "../styles/tokens.css";
@import "../styles/animations.css";


@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    scroll-behavior: smooth;
}

@layer base {
    /* Base styles for the application */
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    }
}

@layer components {
    /* Reusable component classes */
    .background-container {
        @apply fixed inset-0 w-screen h-screen overflow-hidden -z-50;
    }

    .background-image {
        @apply w-full h-full object-cover;
    }


    .stars-layer {
        @apply fixed top-0 left-0 w-full h-[2000px] -z-40 pointer-events-none;;
        animation: move-up 500s linear infinite;
    }


    .planet-container {
        @apply fixed top-[10vw] left-1/2 -translate-x-1/2 pointer-events-none -z-30;
    }

    .planet {
        @apply w-[1800px] aspect-square rounded-full bg-transparent animate-rotate-magic;
    }

    .shooting-stars-container {
        @apply absolute inset-0 -z-20;
    }
}

@layer utilities {
    /* Shooting stars animation */
    .shooting-star {
        @apply absolute w-[4px] h-[4px] rounded-full;
        background: var(--color-light);
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1);
        animation: shooting-star var(--speed, 5s) linear infinite;
    }

    .tail {
        @apply absolute top-1/2 w-[300px] h-[1px] bg-gradient-to-r
        from-white to-transparent -translate-y-1/2;
    }

    @keyframes shooting-star {
        0% {
            transform: rotate(315deg) translateX(0);
        }
        100% {
            transform: rotate(315deg) translateX(var(--distance, -1000px));
        }
    }
}

/*Magic Button for Main Layout*/
.magic-button {
    background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
    transition: all 0.3s ease;
}

.magic-button:hover {
    transform: translateY(-2px);
}

