    <!-- Centered Message -->
    <section class="w-full h-screen flex items-center justify-center text-white">
        <div class="text-center space-y-4">
            <h1 class="text-6xl md:text-8xl font-bold tracking-wider">
                TR <span class="text-purple-400">^</span> KE
            </h1>
            <p class="text-xl md:text-2xl text-gray-300 font-light">
                Sites beyond imagination
            </p>
             <button
                    hx-get="{{ url_for('auth.register') }}"
                    hx-target="#main-content"
                    hx-swap="innerHTML"
                    hx-push-url="/auth/register"
                    class="magic-button px-8 py-4 rounded-full text-white font-semibold text-lg shadow-lg hover:shadow-xl transition-all duration-300 flex items-center mx-auto">
                    <span class="mr-3">Start Now</span>
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
                    </svg>
                </button>
            <div id="response-div"></div>
        </div>
    </section>

